<apex:page showHeader="false" title="Validation Failure" language="{!$CurrentPage.parameters.lang}">

  <style>

  body {
    font: 13px Arial;
    text-align: center;
  }
  
  #content {
    margin: 15px auto;
    text-align: left;
    width: 620px;
  }
  
  #content h1,
  #content h2,
  #content h3 {
    display: block;
    font-weight: normal;
  }
  
  #content h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  #content h3 {
    color: #06D;
    font-size: 18px;
  }

  </style>

  <div id="content">

    <img src="http://www.google.com/images/logo_sm.gif" width="150" height="55" alt="" />

    <h2>Validation Failure</h2>

    We were unable to validate your feedback. Please try submitting again or, if you attempted to submit a
    survey embedded directly in an email, check your email for a link to a web-based survey and use that
    instead. If this issue persists, please alert your Google representative to the issue.

  </div>

</apex:page>