<apex:page standardController="Refund__c" recordSetVar="refundList" extensions="RefundClaim" action="{!checkClaim}">
<apex:form >
    <apex:pageBlock title="Claim refunds below" mode="edit">
        <apex:pageMessages />
        <apex:pageBlockButtons location="top">
             <apex:commandButton value="Claim" action="{!claim}"/>
             <apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlockButtons>
        <apex:pageBlockTable value="{!selected}" var="refund">
            <apex:inputHidden value="{!refund.Owner.Type}"/>
             <apex:column value="{!refund.Name}"/>
             <apex:column headerValue="Owner">
                 <apex:outputField value="{!refund.OwnerId}"/>
             </apex:column>
        </apex:pageBlockTable>      
    </apex:pageBlock>
</apex:form>
</apex:page>