<apex:page standardController="RMA__c" recordSetVar="rmaList" extensions="RmaClaim" action="{!checkClaim}">
<apex:form >
    <apex:pageBlock title="Claim RMA's below" mode="edit">
        <apex:pageMessages />
        <apex:pageBlockButtons location="top">
             <apex:commandButton value="Claim" action="{!claim}"/>
             <apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlockButtons>
        <apex:pageBlockTable value="{!selected}" var="rma">
            <apex:inputHidden value="{!rma.Owner.Type}"/>
             <apex:column value="{!rma.Name}"/>
             <apex:column headerValue="Owner">
                 <apex:outputField value="{!rma.OwnerId}"/>
             </apex:column>
        </apex:pageBlockTable>      
    </apex:pageBlock>
</apex:form>
</apex:page>