<apex:page controller="RmaWidgetWizard" sidebar="false" showHeader="false">
<apex:sectionHeader title="Creating {!rmaType} RMA"/>
<apex:pageMessages id="pageMessages"/>
<apex:form >
<apex:pageBlock >
	<apex:pageBlockButtons location="bottom">
		<apex:commandButton action="{!saveRma}" value="Save & Send" rerender="pageMessages"/>
		<apex:commandButton action="{!cancel}" value="Cancel" immediate="true"/>
	</apex:pageBlockButtons>
	<apex:pageBlockSection columns="1">
		<apex:outputPanel style="display:none;visibility:hidden">
		<apex:inputField value="{!rma.ServiceModel__c}"/>
		<apex:inputField value="{!rma.Type__c}"/>
		</apex:outputPanel>
		<apex:inputField value="{!rma.RMA_Category__c}" required="true"/>
		<apex:inputField value="{!rma.RMA_Sub_Category__c}" required="true"/>
		<apex:inputField value="{!rma.Notes__c}" required="true"/>
		<apex:inputField value="{!rma.gCases_ID__c}" required="true"/>
		
		<apex:inputField value="{!rma.Exception_Type__c}" rendered="{!isExceptionRma}" required="{!isExceptionRma}"/>
		<apex:inputField value="{!rma.Exception_Reason__c}" rendered="{!isExceptionRma}" required="{!isExceptionRma}"/>
		<apex:inputField value="{!rma.Exception_Notes__c}" rendered="{!isExceptionRma}" required="{!isExceptionRma}"/>
		<apex:inputField value="{!rma.I_understand_Exception_RMAs_are_reviewed__c}" rendered="{!isExceptionRma}"/>
		
	</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>