<apex:page standardController="RMA__c">
<apex:detail inlineEdit="true"/>
Won't Power on Messaging
<script type="text/javascript">
  var selectElem = document.getElementById('00NU0000002xWv7j_id0_j_id1');
  if (selectElem != null) {
    selectElem.addEventListener('onchange', function(e) {
    var productElem = document.querySelector('#CF00NU0000003Fh20');
    if (e.currentTarget.value === 'Wont Power On' && productElem.value === '90OK0UW2100010U' ) {
      alert('Make sure you check this page: https://support.google.com/googleplay/answer/3055485?hl=en&ref_topic=3057865');
    }
  });
  }
    
</script>
  
</apex:page>