<apex:page standardController="Opportunity" extensions="RefundCourtesy">
<apex:form >
	<apex:pageMessages />
	<apex:pageBlock title="Please enter the courtesy refund amount." >
		<apex:pageBlockButtons location="both">
			<apex:commandButton action="{!createCourtesyRefund}" value="Save"/>
			<apex:commandButton action="{!cancel}" value="Cancel"/>
		</apex:pageBlockButtons>
		<apex:pageBlockSection >	
			<apex:inputField value="{!refund.CourtesyRefundAmount__c}"/>
			<apex:inputField value="{!refund.RefundReason__c}" required="true"/>
			<apex:inputField value="{!refund.RefundNotes__c}" required="true"/>
		</apex:pageBlockSection>
	</apex:pageBlock>	
</apex:form>
</apex:page>